<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CatsBreeds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of cats">
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        
        
      </ion-card-header>
      <ion-card-content>
   
          <img [src]="getImages(item.reference_image_id)" />
    
        <div class="space-beetwen" >
          <strong class="txt-aling-v"><ion-icon name="earth" color="tertiary" size="large" ></ion-icon>{{item.origin | uppercase}}</strong>
          <ion-chip color="tertiary" mode="ios" >
            <ion-icon name="extension-puzzle"></ion-icon> <strong>: {{item.intelligence}}</strong>
          </ion-chip>
          
        </div>
      </ion-card-content>
      
  </ion-card>
</ion-content>
